*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header{
    width: 100%;
    height: 260px;
    background-image: url("header/fundoheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo{
    position: absolute;
    top: 10px;
    left: 120px;
    height: 90px;
}

.bandeiras{
position: absolute;
top: 10px;
right: 20px;
display: flex;
gap: 8px;
}

.bandeiras img{
width: 60px;
height: 40px;
}

/*botaõ contato header*/
.btn-contato{
    position: absolute;
    top: 130px;
    left: 130px;
    background-color:  #1B2D1B;
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 26px;
    transition: background 0.9s ease,transform 0.9s ease;
}
.btn-contato:hover{
    background-color: #174a2e;
    transform: translateY(-10px);
}

/*navegação header */
.nav{
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav-item{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    transition: color 0.3s ease,transform 0.9s ease;
}

.nav-item:hover{
    color: #8fd39a;
    transform: translateY(-10px);
}

.nav-item.active{
    font-weight: 700;
}

.nav-servicos{
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
}


.bolinha{
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
}


.seta{
    display: inline-block;
    font-size: 10px;
    margin-left: 4px;
    transition: transform 0.3s ease;
}
.nav-servicos:hover .seta{
    transform: rotate(-90deg);
}

.dropdown{
    position: absolute;
    margin-top: 8px;
    top: 100%;
    left: 0;
    background-color: #1B2D1B;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    min-width: 160px;
    padding: 8px 0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.dropdown a{
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 14px;
    transition: background 0.3s ease;
}

.dropdown a:hover{
    background-color: #174a2e;
}
.dropdown::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}

.nav-servicos:hover .dropdown{
    display: flex;
}

.divider{
    width: 3px;
    height: 50px;
    background-color: rgba(255,255,255,0.5);
}

/*bloco cinza*/
.box-info{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(180, 180, 180, 0.35); /* cinza transparente */
    backdrop-filter: blur(4px); /* efeito moderno (opcional) */
    padding: 20px 26px 20px 22px;
    max-width: 420px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.box-info .titulo{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 14px;
}

.stats{
    display: flex;
    gap: 18px;
}

.stats span{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

